* {
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .MuiDataGrid-root,
.MuiDataGrid-root .MuiDataGrid-cell,
.MuiDataGrid-root .MuiDataGrid-columnHeader {
  background-color: #666666;
  color: #ffffff;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
  overflow: visible;
}


.MuiDataGrid-root .MuiDataGrid-iconSeparator {

  display: none;
} */